*.pdf
*.txt
*.csv
*~
__pycache__/
temp/
samples/
test.py
test2.py
test_api.py
test-*
test/data
win
tt*
err*
*#
tmp
erpnext-*
erpnext.png
Rechnungen*
samples
train-data/*
output/*
VorSt/*
Vor*
EK-*
helpers/*



